.country {
   padding: 5rem 2.8rem;
   background: #202C36;
   min-height: 100vh;

   @include tablet-portrait {
      padding: 5rem 10rem;
   }

   &--light {
      background-color: #fff;
   }

   &__link {
      margin-top: 4rem;
      border: 1px solid red;
   }

   &__desktop-wrapper {
      @include desktop {
         display: flex;
      }
   }

   &__back-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.2rem;
      width: 10rem;
      background: #2B3844;
      color: #fff;
      border: none;
      margin: 0 0 6.4rem;

      &--light {
         background-color: #fff;
         color: #000000;
         border: 1px solid #d4d4d4;
      }
   }

   &__back-arrow {
      height: 1rem;
      margin-right: 1rem;
   }

   &__flag {
      width: 100%;
      margin-bottom: 4.4rem;

      @include tablet-portrait {
         width: 75%;
      }

      @include desktop {
         width: 50%;
      }
   }

   &__img {
      width: 100%;
      border-radius: 7px;
   }

   &__info {
      color: #fff;

      &--light {
         color: #000000;
      }

      @include tablet-portrait {
         display: flex;
         justify-content: space-between;
      }

      @include desktop {
         width: 50%;
         padding: 0 5rem;
      }
   }

   &__name {
      font-size: 2.2rem;
      font-weight: 800;
      line-height: 3rem;
      margin-bottom: 1.6rem;
   }

   &__label {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 3.2rem;
      display: flex;
      align-items: center;
   }

   &__languages-wrapper {
      p {
         font-size: 1.4rem;
      }
   }

   &__label-bold {
      font-weight: 400;
      font-size: 1.4rem;
      margin-right: 0.5rem;
   }

   &__border-heading {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.4rem;
      margin-right: 0.5rem;
   }

   &__border-wrapper {
      display: flex;
      align-items: center;
   }

   &__border-country-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }

   &__border {
      font-size: 1.4rem;
   }


   // ! covid data 
   &__covid-header {
      font-size: 2.2rem;
      margin: 2rem 0 1rem;

      @include tablet-portrait {
         margin-top: 0;
      }
   }

   .covid-data__loading-text {
      font-size: 2.2rem;
      font-weight: 800;
      line-height: 3rem;
      margin: 3rem 0 1.6rem;
   }
}