.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background: #2B3844;
   color: #fff;
   height: 8rem;
   padding: 3rem 1.6rem;

   @include tablet-portrait {
      padding: 3rem 5rem;
   }

   &--light {
      background: #fff;
      color: #111517;
   }

   &__logo {
      font-size: 1.4rem;
      font-weight: 800;
      line-height: 2rem;
   }

   &__dark-mode-button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      color: #fff;
      outline: none;

      &--light {
         color: #111517;
      }
   }

   &__dark-mode-icon {
      height: 0.75rem;
      margin-right: 0.5rem;
   }
}