.main {
   background: #202C36;
   color: #fff;
   min-height: 100vh;
   padding: 2.4rem 1.6rem;

   &--light {
      background: #f2f2f2;
      color: #111517;
   }

   &__search-select-wrapper {
      @include tablet-portrait {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      @include desktop {
         padding: 1rem 13rem;
      }
   }
}




// ! search 
.search {
   &__input {
      width: 100%;
      height: 4.8rem;
      font-size: 1.2rem;
      padding: 1.6rem 3.2rem 1.6rem 9rem;
      border-radius: 5px;
      border: none;
      background: #2B3844;
      color: #fff;
      background-image: url('/src/assets/icons/search-icon.svg');
      background-repeat: no-repeat;
      background-position: 12% 50%;
      background-size: 1.6rem 1.6rem;

      &::placeholder {
         color: #fff;
      }

      &:focus {
         outline: none;
      }

      &--light {
         background: #fff;
         background-image: url('/src/assets/icons/search-icon-light.svg');
         background-repeat: no-repeat;
         background-position: 12% 50%;
         background-size: 1.6rem 1.6rem;
         color: #c4c4c4;

         &::placeholder {
            color: #c4c4c4;
         }
      }

      @include tablet-portrait {
         width: 35rem;
      }
   }
}



// ! card 
.card-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 5rem 0;

   &--light {
      background-color: #f2f2f2;
   }

   @include tablet-portrait {
      display: grid;
      grid-area: area;
      grid-template-areas: 'area area';
      justify-content: center;
   }

   @include desktop {
      grid-area: area;
      grid-template-areas: 'area area area';
   }

   &__card {
      width: 26.4rem;
      min-height: 33.6rem;
      overflow: hidden;
      border-radius: 5px;
      background: #2B3844;
      margin-bottom: 4rem;

      &--light {
         background-color: #ffffff;
      }

      @include tablet-portrait {
         margin: 0 3rem 5rem;
      }
   }

   &__img {
      height: 16rem;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__flag {
      object-fit: cover;
      width: 100%;
      height: 100%;
   }

   &__content {
      padding: 2.4rem;
   }

   &__country-name {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 800;
      line-height: 2.6rem;
      margin-bottom: 1.6rem;
   }

   &__info {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.6rem;
      margin-bottom: 0.8rem;
   }

   &__bold {
      font-size: 14px;
      font-weight: 800;
      line-height: 1.6rem;
      margin-right: 0.5rem;
   }
}



// ! dropdown 
.drop-down {
   &__select {
      margin-top: 4rem;
      width: 20rem;
      height: 4.8rem;
      padding: 1.4rem 2rem;
      border-radius: 5px;
      background: #2B3844;
      color: #fff;
      border: none;
      appearance: none;
      background-image: url('/src/assets/icons/drop-down-arrow-light.svg');
      background-repeat: no-repeat;
      background-position: 90% 50%;
      background-size: 1rem 1rem;

      &:focus {
         outline: none;
      }

      option {
         border: 1px solid red;
         background-color: green;
      }

      @include tablet-portrait {
         margin-top: 0;
      }
   }
}